!!! 5
html(lang="en")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        title City of Thieves
        meta(name="description", content='An Adventure Time Game Jam Game')
        meta(name="author", content='Michael Rooney, David Mauro and Jen Taclas')
        link(rel="stylesheet", href="/css/normalize.css")
        link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Nothing+You+Could+Do")
        link(rel="stylesheet", href="/css/lobby.css")
        
        script(src="http://cdn.craftycomponents.com/crafty-release.js")
        script(src="http://code.jquery.com/jquery-1.8.0.min.js")
        script(src="/js/lib/alea.js")
        script(src="/js/game/main.js")
        script(src="/js/game/scenes.js")
        script(src="/js/main.js")
        script(src="/socket.io/socket.io.js")
        script(src="/js/game/networking.js")
        script(src="/js/lobby.js")

    body
        #lobby
            .player_list
                h1
                    img(src="/img/players.png")
                ul
            .start
                .waiting
                    button(disabled="true")
                    marquee(scrollamount="15") Waiting for more players . . .
                    p Invite your friends, just give them this link:
                        input(type="text", value="url")
                .ready
                    button(onclick="socket.emit('start_game');")
                    p Any player press play to start the game!
            .summary
                .snail

        #game
            #game_wrapper
                #game_background
                    img(src="/img/game-bg.jpg")
                #container(style="width:960px;margin:auto;text-align:center;")
                    #hud
                    #cr-stage(style="width:960px;height:592px;")
                #game_foreground
                    .left
                        img(src="/img/game-bg-left.png")
                    .right
                        img(src="/img/game-bg-right.png")
                    .bottom
                        img(src="/img/game-bg-bottom.png")
                #countdown
                #treasure

        -if (typeof(lobby_id) != 'undefined')
            script
                window.game.seed = #{lobby_id};
        -if (typeof(nickname) != "undefined")
            script
                window.game.nickname = "#{nickname}";
        if (typeof(dev_mode) != 'undefined')
            script
                window.dev_mode = true
