!!! 5
html(lang="en")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        block title
            title Untitled
            meta(name="description", content='')
        meta(name="author", content='')
        :compress_css
            defaults.scss
        
    body
        p Hello, world!
        block javascript
            script(src="/lib/jquery-1.7.1.min.js")
