!!! 5
html(lang="en")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        block title
            title City of Thieves
            meta(name="description", content='An Adventure Time Game Jam Game')
        meta(name="author", content='Michael Rooney, David Mauro and Jen Taclas')
    body
        a(href="/game/")
            button Click to join an available game
