body {
    background:url(/img/lobby-bg.jpg) no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

#lobby .player_list {
    float:left;
    position:relative;
    margin:2em 5em;
    padding:1em 4em 1em 3em;
    background:rgba(255,255,255, 0.5);
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}

#lobby .player_list li {
    list-style-type:none;
    font-family:'Nothing You Could Do', Arial, sans-serif;
    font-size:2em;
}

#lobby .start {
    position:relative;
    margin:0 auto;
    width:40em;
    height:50em;
    padding:2em;
    background:url(/img/start-bg.png) no-repeat center -175px;
    background-size:100% 100%;
}

#lobby .start button {
    display:block;
    width:13.9em;
    height:4.7em;
    margin:auto;
    outline:0;
    border:0;
    background:url(/img/play-button.png) no-repeat center bottom;
    background-size:100% 200%;
}

#lobby .start button:active:not([disabled]) {
    background-position:center top;
}

#lobby .start .waiting button {
    opacity:0.25;
}

#lobby .start .ready {
    display:none;
}

#lobby .start p,
#lobby .start marquee {
    text-align:center;
    font-size:1.6em;
    font-family:'Nothing You Could Do', Arial, sans-serif;
}

#lobby .start marquee {
    display:block;
    width:60%;
    margin:1em auto;
    marquee-speed:fast;
}

#lobby .start input {
    width:90%;
    outline:0;
    border:1px solid #999;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    padding:0.25em;
    font-family:Arial, sans-serif;
    box-shadow:inset 1px 1px 2px rgba(0,0,0, 0.3);
    -webkitbox-shadow:inset 1px 1px 2px rgba(0,0,0, 0.3);
    -moz-box-shadow:inset 1px 1px 2px rgba(0,0,0, 0.3);
}

#game {
    display:none;
    position:fixed;
    width:100%;
    height:100%;
    background:rgba(0,0,0, 0.7);
}

#cr-stage {
    border:2px solid rgba(0,0,0, 0.1);
    z-index:1;
}

#game .controls {
    display:none;
}

#game_wrapper {
    position:relative;
    width:1366px;
    height:768px;
}

#game_background img,
#game_foreground img {
    display:block;
    position:absolute;
}

#game_background {
    position:absolute;
    width:1366px;
    height:768px;
    left:0;
    top:0;
    z-index:1;
}

#game_foreground .left {
    position:absolute;
    left:0;
    bottom:0;
    width:280px;
    height:682px;
    z-index:2;
}

#game_foreground .right {
    position:absolute;
    right:0;
    bottom:0;
    width:229px;
    height:694px;
    z-index:2;
}

#game_foreground .bottom {
    position:absolute;
    left:0;
    bottom:0;
    width:1241px;
    height:120px;
    z-index:3;
}
